@{
    ViewData["Title"] = "Clients";
    int counter = 1;
}
@model PagingList<ClientExt>

<nav class="nav_header">
    <a asp-controller="Client" asp-action="New" class="btnClient">Regiter New Client</a>
</nav>

@if (Model.Items.Any())
{
    <table class="table">
        <theader class="theader">
            <th class="table_head1">#</th>
            <th class="table_head2">Client</th>
            <th class="table_head3">Visits</th>
            <th class="table_head4">Edit</th>
        </theader>
        <tbody>
            @foreach( var i in Model.Items)
            {
                int c = (Model.CurrentPage-1)*Model.PerPage + counter;
                <tr class="trow">
                    <td class="table_item1">@c</td>
                    <td class="table_item2">@i.LastName, @i.FirstName; DOB: @i.DateOfBirth.ToShortDateString()</td>
                    <td class="table_item3">@i.Abonements</td>
                    <td class="table_item4">
                        <a class="btnClient" asp-controller="Client" asp-route-id="@i.Id" asp-action="Edit">Edit</a>
                        <a class="btnClient" asp-controller="Client" asp-route-id="@i.Id" asp-action="Delete">Delete</a>
                        <a class="btnClient" asp-controller="Client" asp-route-id="@i.Id" asp-action="Train">Train</a>
                    </td>
                </tr>
                counter++;
            }
            <tr><td colspan="4" class="tfooter">
                Pages <br/>
                @{
                    int NextPage = Model.CurrentPage + 1;
                    int PrevPage = Model.CurrentPage - 1;
                    int LastPage = Model.Count % Model.PerPage != 0 ? 
                        Model.Count / Model.PerPage +1 :
                        Model.Count / Model.PerPage;
                }
                @if (Model.CurrentPage > 1)
                {
                    <a class="lnkPage" asp-controller="Client" asp-action="Clients" asp-route-page="1">&lt;&lt;</a> 
                    <a class="lnkPage" asp-controller="Client" asp-action="Clients" asp-route-page=@PrevPage>&lt;</a> 
                }
                @Model.CurrentPage 
                
                @if (Model.CurrentPage < Model.Count / Model.PerPage)
                {
                    
                    <a class="lnkPage" asp-controller="Client" asp-action="Clients" asp-route-page="@NextPage">&gt; </a>
                    <a class="lnkPage" asp-controller="Client" asp-action="Clients" asp-route-page="@LastPage">&gt;&gt; </a>
                }
            </td></tr>
        </tbody>
    </table>
} else {
    <p class="noresults">No clients yet :(</p>
}
