@{
    ViewData["Title"] = "Edit Client";
}
@model Client

<div class="table_new">
    <table class="table_new">
        <thead>
            <th class="table_half"></th>
            <th class="table_half"></th>
        </thead>
@using (Html.BeginForm("Edit", "Client", FormMethod.Post)){
    @Html.HiddenFor(x=>x.Id)
    <tr>
        <td class="new_cell_caption">Last Name</td>
        <td class="new_cell_edit">@Html.EditorFor(x => x.LastName)</td>
    </tr>
    <tr>
        <td class="new_cell_caption">First Name</td>
        <td class="new_cell_edit">@Html.EditorFor(x => x.FirstName)</td>
    </tr>
    <tr>
        <td class="new_cell_caption">Gender</td>
        <td class="new_cell_edit">@Html.DropDownListFor(x => x.Gender, Html.GetEnumSelectList(typeof(Genders)))</td>
    </tr>
    <tr>
        <td class="new_cell_caption">Date of Birth</td>
        <td class="new_cell_edit">@Html.EditorFor(x => x.DateOfBirth)</td>
    </tr>
    <tr>
        <td class="new_cell_caption">
            <input class="btnClient" type="submit" value="Save" />
        </td>
        <td class="new_cell_edit">
            <a class="btnClient" asp-controller="Abonement" asp-action="New" asp-route-idClient="@Model.Id">Add Abonement</a>
        </td>
    </tr>
}
</table>
</div>