@{
    ViewData["Title"] = "Home Page";
    DateTime currD = ViewBag.currD;
    DateTime prevD = currD.AddDays(-1);
    DateTime nextD = currD.AddDays(1);
    int StartWork = ViewBag.Start;
    int EndWork = ViewBag.End;
}
@model List<ShortTrainingInfo>

<p class="header_for_client">@currD.Date.ToString("yyyy-MM-dd")</p>
<table class="table_calendar">
    <thead>
        <th class="tc_col1">Start</th>
        <th class="tc_col2">Trainer</th>
        <th class="tc_col3">Clients</th>
        <th class="tc_col4">Edit</th>
    </thead>
    <tbody>
@for(int i = StartWork; i< EndWork; i++)
{
    ShortTrainingInfo m = Model.FirstOrDefault(x=>x.StartAt.Hour == i);
    @if (m == null)
    {
        DateTime newOne = new DateTime(
            currD.Year,
            currD.Month,
            currD.Day,
            i,
            0,
            0
        );
        <tr>
            <td class="row_line" colspan="3">@newOne.ToString("HH:mm")</td>
            <td class="tc_center row_line">
                <a class="btnClient" asp-controller="Training" asp-action="New" asp-route-when="@newOne">Create</a>
            </td>
        </tr>
    } else {
       <tr>
        <td class="row_line">@m.StartAt.ToString("HH:mm") </td>
        <td class="row_line">@m.TrainerName</td>
        <td class="row_line"><div>@m.RegisteredClients &frasl; @m.MaxClients</div></td>
        <td class="tc_center row_line">
                <a class="btnClient" asp-controller="Training" asp-action="Index" asp-route-when="@m.StartAt" >Details</a>
                <a class="btnClient" asp-controller="Training" asp-action="Edit" asp-route-when="@m.StartAt" >Edit</a>
                <a class="btnClient" asp-controller="Training" asp-action="Delete" asp-route-when="@m.StartAt" >Delete</a>
        </td>
    </tr> 
    }
}

<tr>
    <td colspan=4 class="tfooter">
        <a class="btnClient" asp-action="Index" asp-controller="Home" asp-route-date="@prevD">Previous</a>
        <a class="btnClient" asp-action="Index" asp-controller="Home" asp-route-date="@DateTime.Now">Today</a>
        <a class="btnClient" asp-action="Index" asp-controller="Home" asp-route-date="@nextD">Next</a>
    </td>
</tr>
</tbody>
</table>
